# PostgreSQL
POSTGRES_USER=nusantara_user
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=akademik

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_minio_password_here

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@nusantara.dev
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password_here

# App
FLASK_ENV=development
SECRET_KEY=your_secret_key_here
DATABASE_URL=postgresql://nusantara_user:your_password_here@db:5432/akademik
MINIO_ENDPOINT=minio:9000
MINIO_PUBLIC_URL=http://localhost:9000
